:root {
    --color-primary: #3366FF;
    --color-danger: #f66045;
    --color-success: #27ac53;
    --color-info: #3FC5FF;
    --color-warn: #FFD60A;
}

:root {
  --svg-bg-color: #E7EEFD;
  --svg-stroke-color: #C9D2E4;
  --svg-rect-fill-color: white;
  --svg-rect-stroke-color: #1456F0;
  --svg-path-fill-color: #1B1B1B;
}

body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.default-page, .normal-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0px;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 16px;
}

.large-text {
  font-size: 36px;
}

.light-black {
  color: #666;
}

.black {
  color: #000;
}

.modal {
  position: fixed;
  right: 20px;
  top: 55px;
  padding: 22px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 10px;
  min-width: 180px;
}
.modal:before, .modal:after {
  content: "";
  display: block;
  border-width: 15px;
  position: absolute;
  top: -30px;
  right: 10px;
  border-style: solid dashed dashed solid;
  border-color: transparent transparent #ccc transparent;
  font-size: 0;
  line-height: 0;
}

.modal:after {
  top: -29px;
  border-color: transparent transparent #FFF transparent;
}

.modal h3 {
  margin-top: 0;
  font-size: medium;
  font-weight: 500;
}

.modal label {
  display: block;
  margin: 10px 0;
  font-size: small;
}

.modal input, .modal select {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.modal button {
  margin: 10px 8px 0 0;
}

.btn-noBackground {
  background-color: transparent;
  border-style: none;
  color: #3366FF;
}
.btn:hover {
  opacity: 0.7;
}
.btn-primary {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: white;
    padding: 0.3em 0.8em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.2s ease;
}
.btn-primary-e {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 0.3em 0.8em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.2s ease;
}

.textEditor {
  box-sizing: border-box;
  padding: 8px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
  display: inline-block;
  width: 100%;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  background-color: transparent;
}

.textEditor:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

